{"swagger":"2.0","host":"prim.iledefrance-mobilites.fr","basePath":"/marketplace","schemes":["https"],"securityDefinitions":{"APIKeyHeader":{"type":"apiKey","in":"header","name":"apikey"}},"security":{"APIKeyHeader":[]},"paths":{"/estimated-timetable":{"get":{"description":"Prochains horaires de passages en temps réel de l'ensemble des arrêts du réseau actuellement disponibles en un seul échange. \n\nA ce jour, ce service n’est disponible que pour une partie du réseau d’Ile-de-France. L’ensemble des arrêts du réseau seront progressivement disponibles.\n\nLe Jeu de données Périmètre des données temps réel disponibles expose la liste des arrêts par ligne/ transporteur concernés par ce service.\n\nLes requêtes et réponses sont exprimées au format SIRI Lite, vous trouverez plus d’informations sur ce format d’échange de données dans la documentation technique. Point d'entrée pour récupérer les informations de type \"EstimatedTimetable\"\n","operationId":"Estimated Timetable","produces":["application/json"],"parameters":[{"name":"LineRef","in":"query","description":"ALL","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EstimatedTimetableResponseDelivery"}},"400":{"description":"BAD Request : La requête contient des identifiants qui sont inconnus"},"500":{"description":"Internal Server Error"},"503":{"description":"Service Unavailable"}}}}},"definitions":{"EstimatedTimetableResponseDelivery":{"properties":{},"type":"object"}},"info":{"title":"Prochains passages (plateforme Île-de-France Mobilités) - requête globale","description":"Prochains horaires de passages en temps réel de l'ensemble des arrêts du réseau actuellement disponibles en un seul échange.\n\nA ce jour, ce service n’est disponible que pour une partie du réseau d’Ile-de-France. L’ensemble des arrêts du réseau seront progressivement disponibles.\n\nLe [Jeu de données Périmètre des données temps réel disponibles](https://prim.iledefrance-mobilites.fr/fr/donnees-statiques/perimetre-des-donnees-tr-disponibles-plateforme-idfm) expose la liste des arrêts par ligne/ transporteur concernés par ce service.\n\nLes requêtes et réponses sont exprimées au format SIRI Lite, vous trouverez plus d’informations sur ce format d’échange de données dans la documentation technique.\n\n----------\n\n**Points d’entrée sur l’API**\n\nLes points d'entrée implémentés permettent de simplifier l'utilisation de l'API en répondant aux principaux cas d'usages.\n\n`GET` /estimated-timetable\n\n----------\n\n**Accès à l'API**\n\nVous devez être connecté à [votre compte utilisateur](https://connect.navigo.fr/auth/realms/connect-b2b/protocol/openid-connect/auth?client_id=prim&redirect_uri=https://prim.iledefrance-mobilites.fr/fr/donnees-statiques/perimetre-des-donnees-tr-disponibles-plateforme-idfm&response_type=code&scope=openid%20email) pour accéder à l'API.\n\nVous avez également la possibilité d'ouvrir votre accès à des applications tierces. Vous devez pour cela utiliser une clé d'API, obtenue [via le portail de votre compte](https://connect.navigo.fr/auth/realms/connect-b2b/protocol/openid-connect/auth?client_id=prim&redirect_uri=https://prim.iledefrance-mobilites.fr/fr/donnees-statiques/perimetre-des-donnees-tr-disponibles-plateforme-idfm&response_type=code&scope=openid%20email) (Rubrique \"Mes Clés d'API\" -> \"Générer une clé d'authentification\"). Plus d'informations dans la documentation générale.\n\n----------\n**Documentation générale**\n\n[Une documentation générale](https://prim.iledefrance-mobilites.fr/Documentation%20fonctionnelle%20PRIM%20-%20Septembre%202021.pdf) permet de mieux appréhender l’API et d’en connaître les précautions d'usage.\n\n----------\n\n**Conditions Générales d'Utilisation de l'API et licence des données**\n\nL'utilisation de l'API Île-de-France Mobilités est soumise à des [Conditions Générales d'Utilisation](https://prim.iledefrance-mobilites.fr/fr/conditions-utilisation) Les données issues de l'API Île-de-France Mobilités sont soumises à la licence [Open Database License (OdBL)](https://spdx.org/licenses/ODbL-1.0.html#licenseText).\n","version":"1.0.0"},"image":"/api/portal/v1.3/discovery/swagger/apis/2612221c-9f3b-4737-b86f-18b13b4ed20b/image","availableSDK":{"ios-swift":"/discovery/sdk/2612221c-9f3b-4737-b86f-18b13b4ed20b/ios-swift","titanium":"/discovery/sdk/2612221c-9f3b-4737-b86f-18b13b4ed20b/titanium","android":"/discovery/sdk/2612221c-9f3b-4737-b86f-18b13b4ed20b/android","nodejs":"/discovery/sdk/2612221c-9f3b-4737-b86f-18b13b4ed20b/nodejs"}}