{"swagger":"2.0","host":"prim.iledefrance-mobilites.fr","basePath":"/marketplace/icar","schemes":["https"],"securityDefinitions":{"APIKeyHeader":{"type":"apiKey","in":"header","name":"apikey"}},"security":{"APIKeyHeader":[]},"paths":{"/getData":{"get":{"description":"Point d'entrée pour récupérer les informations de type Objet","operationId":"get_data","produces":["application/json"],"parameters":[{"description":"getAll","required":true,"in":"query","name":"method","type":"string"},{"description":"ID_REF_A de l'objet recherché. Exemple : idrefa=\"50001173\"","required":false,"in":"query","name":"idrefa","type":"string"},{"description":"Numéro de l'unité organisationnelle (site ICAR) des objets recherchés. Exemple : uo=\"59\"","required":false,"in":"query","name":"uo","type":"string"},{"description":"Date depuis laquelle des modifications sont remontées. Format DDMMYYYY ou DDMMYYYYhhmmss. Exemple : date=\"22052018\"","required":false,"in":"query","name":"date","type":"string"},{"description":"Nombre de minutes depuis lesquelles des modifications sont remontées. Entier compris entre 1 et 10080.","required":false,"in":"query","name":"since","type":"string"},{"name":"format","description":"Format de réponse attendu:xml ou json. xml par défaut","required":false,"in":"query","type":"string"},{"name":"GeneralGroupOfEntities","description":"Pour les Pôles d'échanges. Si la valeur égale à « false », le type de données correspondant n’apparaitra pas dans la réponse.","in":"query","required":false,"type":"boolean","default":true},{"name":"multimodalStopPlace","description":"Pour les zones de correspondance. Si la valeur égale à « false », le type de données correspondant n’apparaitra pas dans la réponse.","in":"query","required":false,"type":"boolean","default":true},{"name":"monomodalStopPlace","description":"Pour les zones d'arrêt. Si la valeur égale à « false », le type de données correspondant n’apparaitra pas dans la réponse.","in":"query","required":false,"type":"boolean","default":true},{"name":"Quay_FR1","description":"Pour les arrêts. Si la valeur égale à « false », le type de données correspondant n’apparaitra pas dans la réponse.","in":"query","required":false,"type":"boolean","default":true},{"name":"Quay_LOC","description":"Pour les arrêts transporteurs. Si la valeur égale à « false », le type de données correspondant n’apparaitra pas dans la réponse.","in":"query","required":false,"type":"boolean","default":true},{"name":"StopPlaceEntrance","description":"Pour les accès. Si la valeur égale à « false », le type de données correspondant n’apparaitra pas dans la réponse..","in":"query","required":false,"type":"boolean","default":true},{"name":"destinations","description":"Pour les lignes. Si la valeur égale à « false », le type de données correspondant n’apparaitra pas dans la réponse.","in":"query","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/getDataDeactivate":{"get":{"description":"Point d'entrée pour récupérer les informations de type Objet","operationId":"get_data","produces":["application/json"],"parameters":[{"description":"getAll","required":true,"in":"query","name":"method","type":"string"},{"description":"ID_REF_A de l'objet recherché. Exemple : idrefa=\"50001173\"","required":false,"in":"query","name":"idrefa","type":"string"},{"description":"Numéro de l'unité organisationnelle (site ICAR) des objets recherchés. Exemple : uo=\"59\"","required":false,"in":"query","name":"uo","type":"string"},{"description":"Date depuis laquelle des modifications sont remontées. Format DDMMYYYY ou DDMMYYYYhhmmss.  Exemple : date=\"22052018\"","required":false,"in":"query","name":"date","type":"string"},{"description":"Nombre de minutes depuis lesquelles des modifications sont remontées. Entier compris entre 1 et 10080.","required":false,"in":"query","name":"since","type":"string"},{"description":"Pour les Pôles d'échanges. Valeurs possibles : \"true\"\\, \"false\"\\.","required":false,"in":"query","name":"GeneralGroupOfEntities","type":"string"},{"description":"Pour les zones de correspondance. Valeurs possibles : \"true\"\\, \"false\"\\.","required":false,"in":"query","name":"multimodalStopPlace","type":"string"},{"description":"Pour les zones d'arrêt. Valeurs possibles : \"true\"\\, \"false\"\\.","required":false,"in":"query","name":"monomodalStopPlace","type":"string"},{"description":"Pour les arrêts. Valeurs possibles : \"true\"\\, \"false\"\\.","required":false,"in":"query","name":"Quay_FR1","type":"string"},{"description":"Pour les arrêts transporteurs. Valeurs possibles : \"true\"\\, \"false\"\\.","required":false,"in":"query","name":"Quay_LOC","type":"string"},{"description":"Pour les accès. Valeurs possibles : \"true\"\\, \"false\"\\.","required":false,"in":"query","name":"StopPlaceEntrance","type":"string"},{"description":"Pour les lignes. Valeurs possibles : \"true\"\\, \"false\"\\.","required":false,"in":"query","name":"destinations","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}}},"info":{"title":"Diffusion des données du Référentiel Arrêts - ICAR (plateforme Île-de-France Mobilités)","description":"Diffusion des données du Référentiel Arrêts ICAR. \n\nCe service donne l’ensemble des objets de référence (OR) et objets particuliers (OP) présent dans la base de données ICAR.\n\nLes requêtes et réponses sont exprimées au format XML par défaut. \n\n----------\n\n**Point d’entrée sur l’API**\n\nLes points d'entrée implémentés permettent de simplifier l'utilisation de l'API en répondant aux principaux cas d'usages.\n\n`GET` /general-message\n\n\n----------\n\n**Accès à l'API**\n\nVous devez être connecté à [votre compte utilisateur](https://portal.api.iledefrance-mobilites.fr/fr/sign-in-fr) pour accéder à l'API.\n\n----------\n**Documentation générale**\n\n[Une documentation générale](https://portal.api.iledefrance-mobilites.fr/images/com_apiportal/doc/IDFM-portailAPI-documentation.pdf) permet de mieux appréhender l’API et d’en connaître les précautions d'usage.\n\n----------\n\n**Conditions Générales d'Utilisation de l'API et licence des données**\n\nL'utilisation de l'API Île-de-France Mobilités est soumise à des [Conditions Générales d'Utilisation](https://portal.api.iledefrance-mobilites.fr/fr/cgu) Les données issues de l'API Île-de-France Mobilités sont soumises à la licence [Open Database License (OdBL)](https://spdx.org/licenses/ODbL-1.0.html#licenseText  ","version":"1.0.1"}}