{"swagger":"2.0","host":"prim.iledefrance-mobilites.fr","basePath":"/marketplace/disruptions_bulk","schemes":["https"],"securityDefinitions":{"APIKeyHeader":{"type":"apiKey","in":"header","name":"apikey"}},"security":{"APIKeyHeader":[]},"paths":{"/disruptions/v2":{"get":{"description":"Renvoie les informations de perturbation en cours et à venir, ainsi que la liste des lignes et arrêts concernés.","operationId":"getDisruptions","produces":["application/json"],"responses":{"200":{"description":"Réponse si des perturbations ont été trouvées."},"403":{"description":"Erreur d’accès au serveur."},"404":{"description":"Erreur objet non trouvé."}}}}},"info":{"title":"Diffusion des données de perturbation du trafic","description":"Diffusion des données d'information trafic \n\nCe service donne l’ensemble des perturbations ainsi que les lignes et arrêts associés.\n\nLes requêtes et réponses sont exprimées au format JSON. \n\n----------\n\n**Point d’entrée sur l’API**\n\nLes points d'entrée implémentés permettent de simplifier l'utilisation de l'API en répondant aux principaux cas d'usages.\n\n`GET` /general-message\n\n\n----------\n\n**Accès à l'API**\n\nVous devez être connecté à [votre compte utilisateur](https://portal.api.iledefrance-mobilites.fr/fr/sign-in-fr) pour accéder à l'API.\n\n----------\n**Documentation générale**\n\n[Une documentation générale](https://portal.api.iledefrance-mobilites.fr/images/com_apiportal/doc/IDFM-portailAPI-documentation.pdf) permet de mieux appréhender l’API et d’en connaître les précautions d'usage.\n\n----------\n\n**Conditions Générales d'Utilisation de l'API et licence des données**\n\nL'utilisation de l'API Île-de-France Mobilités est soumise à des [Conditions Générales d'Utilisation](https://portal.api.iledefrance-mobilites.fr/fr/cgu) Les données issues de l'API Île-de-France Mobilités sont soumises à la licence [Open Database License (OdBL)](https://spdx.org/licenses/ODbL-1.0.html#licenseText  ","version":"1.0"}}